name: CI/CD Workflow

on:
  push:
    branches:
      - main
    # Only trigger on tags that match release-x.x.x (where x are digits)
    tags:
      - "release-[0-9]*.[0-9]*.[0-9]*"

jobs:
  test-tf:
    name: Run TensorFlow tests in Docker
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build Docker image for TF tests
        run: docker build -t instmodel-test-tf .

      - name: Run TF tests inside Docker container
        run: docker run --rm instmodel-test-tf

  test-torch:
    name: Run PyTorch tests in Docker
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Build Docker image for PyTorch tests
        run: docker build -t instmodel-test-torch -f Dockerfile.torch .

      - name: Run PyTorch tests inside Docker container
        run: docker run --rm instmodel-test-torch

  deploy:
    name: Deploy to PyPI
    runs-on: ubuntu-latest
    needs: [test-tf, test-torch]
    permissions:
        contents: read
        id-token: write
    if: startsWith(github.ref, 'refs/tags/release-')
    steps:
        - name: Check out repository
          uses: actions/checkout@v3

        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: 3.12

        - name: Build distribution packages
          run: |
            python -m pip install --upgrade pip setuptools wheel
            python setup.py sdist bdist_wheel

        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
